* {
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    font-family: "Poppins", serif;
    scroll-behavior: smooth;
}

img {
    display: block;
    height: auto;
}

.container {
    max-width: 1140px;
    margin: 0px auto;
}
